@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@model CadeOFogo.Areas.Cadastros.ViewsModels.Pelotao.PelotaoDetailsViewModel

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes dos Pelotões</h1>
<partial name="_SearchBox" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PelotaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PelotaoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> @Html.DisplayFor(modelItem => Model.PelotaoId)</td>
                <td> @Html.DisplayFor(modelItem => Model.PelotaoNome)</td>
                <td>@string.Join(",  ", Model.Usuarios.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Pelotoes"
                       asp-action="Gerenciar" asp-route-PelotaoId="@Model.PelotaoId">Gerenciar Policiais</a>
                </td>
            </tr>
    </tbody>
</table>


