
@using CadeOFogo.Areas.Cadastros.ViewsModels.Pelotao
@model List<GerenciarUsuariosViewModel>
@{
    ViewData["Title"] = "Gerenciar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Gerenciar policiais do Pelotão</h2>
            Adicionar/remover policiais ao Pelotão
        </div>
        <div class="card-body">
            @for (var i = 0; i < Model.Count; i++)
            {
                <div class="form-check">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].NomeCompleto" />
                    <input asp-for="@Model[i].Selecionado" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].Selecionado">@Model[i].NomeCompleto</label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Atualizar" class="btnbtn-primary" style="width:auto" />
            <a asp-action="Index" class="btnbtn-danger" style="width:auto">Cancelar</a>
        </div>
    </div>
</form>