@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@model IEnumerable<CadeOFogo.Areas.Cadastros.ViewsModels.Pelotao.PelotaoIndexViewModel>

@{
    ViewData["Title"] = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pelotões</h1>
<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>
<partial name="_SearchBox" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PelotaoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PelotaoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanhiaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeBatalhao)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PelotaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PelotaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanhiaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeBatalhao)
            </td>
            @if (User.IsInRole("AdminBatalhao") || User.IsInRole("AdminCompanhia") || User.IsInRole("AdminPelotao"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PelotaoId"><i class="far fa-edit"></i></a> |
                    <a asp-action="Detalhes" asp-route-id="@item.PelotaoId">Detalhes</a> |
                </td>

            }
        </tr>
        }
    </tbody>
</table>

<p class="small">Mostrando registros de @ViewBag.primeiro até @ViewBag.ultimo de um total de @ViewBag.total</p>
@Html.PagedListPager((IPagedList)Model, page =>
    Url.Action("Index", new { page = page }),
    new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" },

    })

