@model CadeOFogo.Areas.Cadastros.ViewsModels.Equipe.EquipeEditViewModel


@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastro de Equipes</h1>

<h4>Cadastrar novo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EquipeNome" class="control-label"></label>
                <input asp-for="EquipeNome" class="form-control" />
                <span asp-validation-for="EquipeNome" class="text-danger"></span>

                <label asp-for="BatalhaoInputSelect" class="control-label"></label>
                <br />
                <select asp-for="BatalhaoId" asp-items="@Model.BatalhaoInputSelect">
                    <option value="0" disabled>-- Selecione uma batalhão --</option>
                </select>
                <span asp-validation-for="BatalhaoInputSelect" class="text-danger"></span>

                <br />
                <label asp-for="CompanhiaInputSelect" class="control-label"></label>
                <br />
                <select asp-for="CompanhiaId" asp-items="@Model.CompanhiaInputSelect">
                    <option value="0" disabled>-- Selecione uma companhia --</option>
                </select>
                <span asp-validation-for="CompanhiaInputSelect" class="text-danger"></span>

                <br />
                <label asp-for="PelotaoInputSelect" class="control-label"></label>
                <br />
                <select asp-for="PelotaoId" asp-items="@Model.PelotaoInputSelect">
                    <option value="0" disabled>-- Selecione uma pelotão --</option>
                </select>
                <span asp-validation-for="PelotaoInputSelect" class="text-danger"></span>

                <br />
                <label asp-for="UsuarioInputSelect" class="control-label"></label>
                <br />
                <select asp-for="ApplicationUserUserId" asp-items="@Model.UsuarioInputSelect">
                    <option value="0" disabled>-- Selecione um usuario --</option>
                </select>
                <span asp-validation-for="UsuarioInputSelect" class="text-danger"></span>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Ativa" multiple /> @Html.DisplayNameFor(model => model.Ativa)
                    </label>
                </div>
            </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

